html {
	scroll-behavior: smooth;
}

body {
	padding-top: 56px;
}

.row-header {
	margin: 0 auto;
	padding: 0 auto;
}

.row-content {
	margin: 0 auto;
	padding: 50px 0;
	border-bottom: 1px ridge;
	min-height: 400px;
}

.footer {
	background-color: #d8f793;
	margin: 0 auto;
	padding: 20px 0;
}

.jumbotron {
	padding: 70px 30px;
	margin: 0 auto;
	background-color: #d8f793;
}

.address {
	font-size: 80%;
}

.navbar-dark {
	background-color: #2d791e;
}

.breadcrumb {
	background-color: #e0ffda;
}
